{% assign day = include.date | date: "%-d" %}
{% case day %}
    {% when  '1' %}1-ое
    {% when  '2' %}2-ое
    {% when  '3' %}3-е
    {% when  '4' %}4-ое
    {% when  '5' %}5-ое
    {% when  '6' %}6-ое
    {% when  '7' %}7-ое
    {% when  '8' %}8-ое
    {% when  '9' %}9-ое
    {% when  '10' %}10-ое
    {% when  '11' %}11-ое
    {% when  '12' %}12-ое
    {% when  '13' %}13-ое
    {% when  '14' %}14-ое
    {% when  '15' %}15-ое
    {% when  '16' %}16-ое
    {% when  '17' %}17-ое
    {% when  '18' %}18-ое
    {% when  '19' %}19-ое
    {% when  '20' %}20-ое
    {% when  '21' %}21-ое
    {% when  '22' %}22-ое
    {% when  '23' %}23-е
    {% when  '24' %}24-ое
    {% when  '25' %}25-ое
    {% when  '26' %}26-ое
    {% when  '27' %}27-ое
    {% when  '28' %}28-ое
    {% when  '29' %}29-ое
    {% when  '30' %}30-ое
    {% when  '31' %}31-ое
{% endcase %}
{% assign m = include.date | date: "%-m" %}
{% case m %}
    {% when  '1' %}января
    {% when  '2' %}февраля
    {% when  '3' %}марта
    {% when  '4' %}апреля
    {% when  '5' %}мая
    {% when  '6' %}июня
    {% when  '7' %}июля
    {% when  '8' %}августа
    {% when  '9' %}сентября
    {% when '10' %}октября
    {% when '11' %}ноября
    {% when '12' %}декабря
{% endcase %}
{{ include.date | date: "%Y" }} г.
