{% assign day = include.date | date: "%-d" %}
{% case day %}
    {% when  '1' %}Первое
    {% when  '2' %}Второе
    {% when  '3' %}Третье
    {% when  '4' %}Четвёртое
    {% when  '5' %}Пятое
    {% when  '6' %}Шестое
    {% when  '7' %}Седьмое
    {% when  '8' %}Восьмое
    {% when  '9' %}Девятое
    {% when  '10' %}Десятое
    {% when  '11' %}Одиннадцатое
    {% when  '12' %}Двенадцатое
    {% when  '13' %}Тренадцатое
    {% when  '14' %}Четырнадцатое
    {% when  '15' %}Пятнадцатое
    {% when  '16' %}Шестнадцатое
    {% when  '17' %}Семьнадцатое
    {% when  '18' %}Восемьнадцатое
    {% when  '19' %}Девятнадцатое
    {% when  '20' %}Двадцатое
    {% when  '21' %}Двадцать первое
    {% when  '22' %}Двадцать второе
    {% when  '23' %}Двадцать третье
    {% when  '24' %}Двадцать четвертое
    {% when  '25' %}Двадцать пятое
    {% when  '26' %}Двадцать шестое
    {% when  '27' %}Двадцать седьмое
    {% when  '28' %}Двадцать восьмое
    {% when  '29' %}Двадцать девятое
    {% when  '30' %}Тридцатое
    {% when  '31' %}Тридцать первое
{% endcase %}
{% assign m = include.date | date: "%-m" %}
{% case m %}
    {% when  '1' %}января
    {% when  '2' %}февраля
    {% when  '3' %}марта
    {% when  '4' %}апреля
    {% when  '5' %}мая
    {% when  '6' %}июня
    {% when  '7' %}июля
    {% when  '8' %}августа
    {% when  '9' %}сентября
    {% when '10' %}октября
    {% when '11' %}ноября
    {% when '12' %}декабря
{% endcase %}
{{ include.date | date: "%Y" }} г.
